<!DOCTYPE html>
<html>
	<head>
		<title>SoundOs Web Controller</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.9/spectre.min.css" integrity="sha512-9RIcp1f4CE6dEuYX9085tXaEbYd1ap04d2Av1ub/dwuT33WbfbHStDdQ+shKrp5wzZzleh5DOg+7ABSnaQP/nQ==" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.9/spectre-exp.css" integrity="sha512-ah7XCALBTo7KdFovH37CPyhxeW+8QspKoZDX2kbhqLTK5sDekid47zDIuxsaP5GdjwF+bQfKjFkh3fvH9mkJsA==" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://use.fontawesome.com/5b15c901a8.css">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/soundos.css') }}">
		<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
<body>
	<div class="container grid-lg float-left">
		<div class="columns mt-2">
			<div class="column col-3">
				<div class="card">
					<div class="card-header">
						<div class="card-title h4">Players</div>
					</div>
					<div class="card-body px-2">
						<ul id="player-list" class="menu menu-nav p-0">
						</ul>
						<br />
					</div>
					<div class="card-footer"></div>
				</div>
			</div>

			<div class="column col-5 col-mr-auto">
				<div id="main-player-card" class="card d-invisible">
					<div class="card-header">
						<div class="card-title h4"><span id="main-player-name"></div>
						<div class="card-subtitle text-gray"><span id="main-player-state"></span></div>
					</div>
					<div class="card-body">
						<div id="album-art-loading" style="max-height:356px;"><img id="main-player-album-art" class="s-rounded img-responsive"></div>
						<div id="player-details" class="mb-2 pb-2 d-invisible">
							<div id="track-remaining" class="mt-2 text-left text-tiny float-right"></div>
							<div id="track-position" class="mt-2 text-left text-tiny float-left"></div>

							<div class="bar mt-2">
								<div id="track-progress" class="bar-item tooltip" data-tooltip="" role="progressbar" style="" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
							</div>

							<div id="track-title" class="mt-2 text text-large text-bold text-ellipsis"></div>
							<div id="track-artist-album" class="text text-small text-dark text-ellipsis"></div>
						</div>
						<div class="text-center" style="display: table; width: 100%;">
							<button id="btn btn-previous" class="media-control p-2"><i class="fa fa-step-backward fa-2x"></i></button>
							<button id="btn-playpause" class="media-control p-2"><i class="fa fa-circle fa-4x"></i></button>
							<button id="btn-next" class="media-control p-2"><i class="fa fa-step-forward fa-2x"></i></button>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/SoundOs.js') }}"></script>
</body>
</html>
